html{
   background-image: url(http://m.rgbimg.com/cache1nQ38D/users/j/ja/jaylopez/600/mkvwC7e.jpg);
    max-width: 460px;
    background-position: center;
}
body{
    font-family: American Typewriter, Constatia, "Times New Roman", Times;
    text-transform: capitalize;
    letter-spacing: 0.025em;
    margin: 25px;
    
}

h1{
    border: 3px solid; max-width: 460 px;  
    padding: 5px 15px;
    font-weight: bolder;
    color: #000;
    text-align: center;
    text-indent: 10px;
    margin: auto;
}

p{
   text-align: center;
   
}

a{
    font-size: 26px;
    font-weight: bold;
    color: #000;
    text-align: center;
}
a:hover{color: white; outline: 1px solid maroon; background-color: #666; background-color: rgba(0,0,0,0.5);}