/*
 Zack Wyatt
 style.css Style Shet
 VFW
 
 */
html{
    
    max-width: 460px;
    
    
}

body{
    font-family: Cambria, Constatia, "Times New Roman", Times, serif;
    text-transform: capitalize;
    letter-spacing: 0.025em;
}

h1{
    font-family: American Typewriter;
    font-size: 25px;
    padding: 10px 15px;
    background-color: #dddfde;
    background-color: #dddfde;
    font-weight: bolder;
    color: #000;
    text-align: center;
    word-spacing: 3px;
    background-image: url(http://m.rgbimg.com/cache1nQ38D/users/j/ja/jaylopez/600/mkvwC7e.jpg);
    background-position: center
}
a:hover{color: white; outline: 1px solid #000; background-color: #666; background-color: rgba(0,0,0,0.5);}

fieldset{
    margin: 10px 5px;
    border: 1px black;
    padding: 10px 15px;
    background-color: #dddfde;
    background-color: #dddfde;
    color: #000;
    line-height: 1.6em;
    background-image: url(http://m.rgbimg.com/cache1nQ38D/users/j/ja/jaylopez/600/mkvwC7e.jpg);
    background-position: center
}

legend{
    color:#000;
    font-size: 24px;
    font-weight: bold;
}

span{
    display: block;
}

nav{
    text-align: center;
}

a{
    margin: 5px 1px;
    padding: 5px 2px;
    font-size: 25px;
    font-weight: bold;
    color: #000;
}
h2 {
    margin: 20px;
}